
<div class="customer-container">
  <!-- <div class="example-header">
    <mat-form-field floatPlaceholder="never">
      <input mdInput placeholder="Filter Customers">
    </mat-form-field>
  </div> -->
  <!-- <mat-table>
      <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
        </ng-container>

  </mat-table> -->

  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Johnson Noal</td>
        <td>john@gmail.com</td>
        <td>0789745662562</td>
      </tr>
    </tbody>
  </table>
</div>
