<div class="newCustomer">
  <form [formGroup]="form" (ngSubmit)="sendCustomer(form.value)">
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lastName" placeholder="Last Name">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="phoneNumber" placeholder="Mobile">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="company" placeholder="Company">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="telephoneNumber" placeholder="Telephone">
      </mat-form-field>
    </div>
    <div formGroupName="address" class="address">
        <div class="form-group">
            <mat-form-field>
              <input matInput formControlName="address" placeholder="Address">
            </mat-form-field>
            <!-- <mat-form-field>
              <input matInput placeholder="Address 2">
            </mat-form-field> -->
        </div>
        <div class="form-group">
            <mat-form-field>
              <input matInput formControlName="city" placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="postCode" placeholder="Post Code">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
              <input matInput formControlName="country" placeholder="Country">
            </mat-form-field>
        </div>
    </div>
    <div class="button">
      <button mat-raised-button >Submit</button>
    </div>
      <!-- <mat-form-field>
        <input matInput placeholder="Amount" type="number" class="example-right-align">
        <span matPrefix>£&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field> -->
    
      <!-- <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field> -->
      
  </form>
</div>
