<div class="newCustomer">
  <form>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Telephone">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Company">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Status">
      </mat-form-field>
    </div>
    <div class="address">
        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Address 1">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Address 2">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Post Code">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>
        </div>
    </div>

      <!-- <mat-form-field>
        <input matInput placeholder="Amount" type="number" class="example-right-align">
        <span matPrefix>£&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field> -->
    
      <!-- <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field> -->
      
  </form>
</div>
